@{
    Layout = "_AuthLayout";
}


<div id="preloader">
    <div class="loader">
        <img src="~/images/loader.svg" />
    </div>
</div>
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a href="index.html">
                                        <img src="~/images/milad_hospital_logo.png" />
                                        <h2 class="text-center mb-4">داشبور مدیریت دسترسی کاربران</h2>
                                    </a>
                                </div>
                                <h4 class="text-center mb-4">رمز عبور جدید</h4>
                                <form asp-action="ForgetPassword" asp-controller="Account" enctype="multipart/form-data" method="post">
                                    <div class="mb-3">
                                        <label class="mb-1"><strong> </strong></label>
                                        <input maxlength="11" name="PhoneNumber" type="text" placeholder="شماره تلفن همراه خود را وارد کنید" id="inputMobile" class="form-control">
                                    </div>
                                    <div class="text-center"><button onclick="validate()" type="submit" class="btn btn-primary btn-block">ارسال</butto></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function validate() {
        const mobile = document.querySelector('input[name=PhoneNumber]');
        if (mobile.value === '' || mobile.value === undefined || mobile.value === null || mobile.value.length != 11) {
            {
                event.preventDefault(); // Prevent form submission
                return alert('لطفا شماره تلفن را به صورت صحیح وارد نمایید')
            }
        }
    }
</script>
