@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl" lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="https://boltz.dexignzone.com/xhtml/social-image.png">
    <title>داشبور مدیریت پلیکان</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body class="vh-100">
    <div id="preloader">
        <div class="loader">
            <img src="~/images/loader.svg" />
        </div>
    </div>
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-3"><a href="index.html">
                                            <img src="~/images/milad_hospital_logo.png" />
                                            <h2 class="text-center mb-4">داشبورد مدیریت سامانه اسکن</h2>
                                    </a></div>
                                    <h4 class="text-center mb-4">رمز عبور را فراموش کرده اید</h4>
                                    <form action="index.html">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong> نام کاربری </strong></label><input type="email" id="inputUsername" class="form-control" value="ایمیل یا شماره تلفن و یا نام کاربری">
                                        </div>
                                        <div class="text-center"><button type="submit" class="btn btn-primary btn-block">ارسال</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../vendor/global/global.min.js"></script>
    <script src="../js/custom.min.js"></script>
    <script src="../js/deznav-init.js"></script>
    <script type="text/javascript">
        document.getElementById("inputUsername").addEventListener('click', function () {
            var text = document.getElementById('inputUsername');
            text.value = '';
        });
    </script>
</body>
</html>
