@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="rtl" lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Boltz : Crypto Admin Template">
    <meta property="og:title" content="Boltz : Crypto Admin Template">
    <meta property="og:description" content="Boltz : Crypto Admin Template">
    <meta property="og:image" content="https://boltz.dexignzone.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">
    <title>Boltz: الگوی مدیریت پرداخت</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body class="vh-100">
    <div id="preloader">
        <div class="loader">
            <img src="~/images/loader.svg" />
        </div>
    </div>
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-3"><a href="index.html">
                                            @* <img src="~/images/logo-milad.png" /> *@
                                            <img src="~/images/milad_hospital_logo.png" />
                                            <h2 class="text-center mb-4">داشبورد مدیریت سامانه اسکن</h2>

                                            @* <img src="../images/logo-full.png" alt=""> *@
                                    </a></div>
                                    <h4 class="text-center mb-4">وارد حساب کاربری خود شوید</h4>
                                    <form asp-action="Login" asp-controller="Account" enctype="multipart/form-data" method="post">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong> نام کاربری </strong></label><input name="Input" type="text" id="inputUsername" class="form-control" value="ایمیل یا شماره تلفن و یا نام کاربری">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>کلمه عبور</strong></label><input name="Password" type="text" id="inputPaasword" class="form-control" value="رمز عبور">
                                        </div>
                                        <div class="row d-flex justify-content-between mt-4 mb-2">
                                            <div class="mb-3">
                                             
                                            </div>
                                            <div class="mb-3"><a asp-action="ForgotPassword" asp-controller="Account" >رمز عبور را فراموش کرده اید؟</a></div>
                                        </div>
                                        <div class="text-center"><button type="submit" class="btn btn-primary btn-block">ورود به سیستم</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../vendor/global/global.min.js"></script>
    <script src="../js/custom.min.js"></script>
    <script src="../js/deznav-init.js"></script>
    <script type="text/javascript">
        document.getElementById("inputUsername").addEventListener('click', function () {
            var text = document.getElementById('inputUsername');
            text.value = '' ;
        });

        document.getElementById("inputPaasword").addEventListener('click', function () {
            var text = document.getElementById('inputPaasword');
            text.value = '';
        });
    </script>
    @await Component.InvokeAsync("Notyf")

</body>
</html>
